<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="#">RunFores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        
        <li class="dropdown show">

          <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="circulo"></div>
            {{authService.usuario.username}}
          </a>
        
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="min-width:6.2rem">
            <button (click)="logout()" class="dropdown-item" type="submit">Salir</button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
