.circulo {
    width: 8px;
    height: 10px;
    margin-top: 7px;
    margin-right: 2px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    float: left;
}