<div class="card border-light  mb-3 my-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-info">
      <h5 class="card-title">Listado de clientes</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
     </div>

      <table class="table table-hover">
        <thead class="table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Documento</th>
                <th scope="col">Nombre</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Email</th>
                <th scope="col">Fecha de registro</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let customer of customers" >

                <td>{{ customer.id }}</td>
                <td>{{ customer.document}}</td>
                <td>{{ customer.name}}</td>
                <td>{{ customer.phone}}</td>
                <td>{{ customer.email}}</td>
                <td>{{ customer.createAt}}</td>

            </tr>

        </tbody>
    </table>
    </div>
  </div>

