<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> LOGIN </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/assets/img/logo-blanco-bloque.png" class="rounded-circle mr-2 w-25"/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input [(ngModel)]="usuario.username" type="text" id="username" name="username" class="fadeIn second" placeholder="Usuario" autofocus required>
        <input [(ngModel)]="usuario.password" type="password" id="password" class="fadeIn third"  name="password" placeholder="Contraseña" required>
        <input (click)="login()" type="submit" class="fadeIn fourth" value="Login">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>