<br><br>
<div class="card bg-light text-black">
    <div class="card-header">{{title}}</div>
    <div class="card-body">

        <div class="input-group">
            <div class="custom-file">
              <input (change)="selectPhone($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Subir foto</label>
            </div>
            <div class="input-group-append">
              <button (click)="uploadPhotoComponet()" class="btn btn-success" type="button" id="inputGroupFileAddon04">Enviar</button>
            </div>
          </div>

    </div>
</div>