<br><br>
<div class="card bg-light text-black">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <div class="container">
      <div class="row">

        <div class="col-sm">
          <ul *ngIf="customer" class="list-group text-dark mb-3">
            <li class="list-group-item active">{{ customer.name}}</li>
            <li class="list-group-item">{{ customer.phone }}</li>
            <li class="list-group-item">{{ customer.email }}</li>
            <li class="list-group-item">{{ customer.createAt | date: "short" }}</li>
          </ul>
          <div class="input-group">
            <div class="custom-file">
              <input (change)="selectPhone($event)" type="file" class="custom-file-input" id="inputGroupFile04"
                aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
            </div>
            <div class="input-group-append">
              <button (click)="uploadPhotoComponet()" class="btn btn-outline-success" type="button"
                id="inputGroupFileAddon04">Enviar</button>
            </div>
          </div>
        </div>

        <div class="col-sm">
          <img *ngIf="customer?.photo" src="http://localhost:8080/api/uploads/img/{{customer.photo}}" alt=""
            class="img-thumbnail rounded" style="width: 400px; height: 400px;">
        </div>

      </div>
    </div>
  </div>
</div>